<%- include('partials/header'); -%>

<main class="container mt-5">
    <h2>Welcome, Admin!</h2>
    <strong> <p style="color: rgb(255, 202, 44);">This is the admin dashboard. You have access to special administrative features.</p></strong>
    <a href="/admin/add" class="btn btn-warning my-3">Add New Item to Carousel</a>
    <table class="table">
        
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(item => { %>
                <tr>
                    <td><img src="<%= item.picture %>" alt="Picture"></td>
                    <td><%= item.nameEN %></td>
                    <td><%= item.descriptionEN %></td>
                    <td><%= item.createdAt %></td>
                    <td><%= item.updatedAt %></td>
                    <td>
                        <a href="/admin/edit/<%= item._id %>" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete/<%= item._id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
</main>

<%- include('partials/footer'); -%>
